
html,
body {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}


* {
    font-family: "Changa", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 1.1vw;
}
